* {
    margin: 0;
    padding: 0;
}

.Label-Format{
    color: white;
    font-size: 30px;
    font-style: italic;
}

.bg{
    color:White !important;
    font-size: 20px !important;
    font-style: italic !important;
    background-color: #0D6EFD !important;
    height: 45PX !important;
}