* {
  margin: 0;
  padding: 0;
}

.bgimage{
  background-image: url(./Assets/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.PageTitle{
  color: white;
  font-size: 85px;
  font-style: italic;
  text-align: center;
  margin-top: 12%;
}

.Button1{
  font-size: 30px !important;
  font-style: italic;
  width: 25%;
  color: #0702FF;
  border-radius: 15px !important;
}

.text-format{
  color:white;
  font-size: 25px;
  font-style: italic;
}

